<div class="col-md-8">
  <h1><%= @site.name %></h1>
  <h3><%= @site.url %></h3>
  <div class="col-md-4 new-edit">
      <%= link_to "Edit", edit_site_path(@site), class: 'btn btn-success' %>
      <%= link_to "Delete Site", [@site], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this site?' } %>
    </div>
</div>


<div class="col-md-8">
  
  <% @events.each do |event| %>
    <br/><%= event.name %>
  <% end %>
  <% if @events.empty? %>No Events to show<% end %>

</div>